<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stuff Sharing</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="stylesheets/index.css" rel="stylesheet">
</head>
<body id="page-top">
<%- include navbar.ejs %>
<div id="wrapper">
    <% if(auth) { %>
        <%- include sidebar.ejs %>
    <% } %>
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fas fa-user fa-fw"></i>
                    <%= user %>
                </li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
					<span style="color: yellowgreen;">
						<i class="fas fa-ribbon"></i> Badges Earned
					</span>&nbsp;
                </div>
                <div class="card-body">
                    <% if (tbl2.length == 0) { %>
                        <h5><%= user %> has not earned any badges.</h5>
                    <% } else { %>
                        <% for(var i = 0; i < tbl2.length; i++) { %>
                            <% if (tbl2[i].badgename == 'Novice Lender') { %>
                                <i class="fas fa-certificate"></i> Novice Lender
                                <br/>
                            <% } else if (tbl2[i].badgename == 'Intermediate Lender') { %>
                                <i class="fas fa-award"></i> Intermediate Lender
                                <br/>
                            <% } else if (tbl2[i].badgename == 'Expert Lender') { %>
                                <i class="fas fa-medal"></i> Expert Lender
                                <br/>
                            <% } else if (tbl2[i].badgename == 'Star Lender') { %>
                                <i class="fas fa-star"></i> Star Lender
                                <br/>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
                <div class="card-footer small text-muted">Stuff Sharing</div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
					<span style="color: yellowgreen;">
						<i class="fas fa-fw fa-hands-helping"></i> Borrowed Stuffs
					</span>&nbsp;
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <% if (tbl1.length == 0) { %>
                            <h5><%= user %> has not borrowed any stuff.</h5>
                        <% } else { %>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Lender</th>
                                    <th>Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < tbl1.length; i++) { %>
                                    <tr>
                                        <td>
                                            <a class="view-stuff" href="/stuff?sid=<%= tbl1[i].sid %>">
                                                <%= tbl1[i].stuffname %>
                                        </td>
                                        <td>
                                            <% if(tbl1[i].username == user) { %>
                                            <a class="view-profile" href="/dashboard">
                                                <%= tbl1[i].username %>
                                                <% } else { %>
                                                <a class="view-profile" href="/profile?user=<%= tbl1[i].username %>">
                                                    <%= tbl1[i].username %>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <form action="/comment">
                                                <input type="hidden" id="sid" value="<%= tbl1[0].sid %>" name="sid">
                                                <button type="submit" class="btn btn-secondary" value="View All Comments" />View Comments</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
                <div class="card-footer small text-muted">Stuff Sharing</div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <span style="color: yellowgreen">
                        <i class="fas fa-truck-moving"></i> Lent Stuffs
                    </span>&nbsp;
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <% if (tbl3.length == 0) { %>
                            <h5><%= user %> has not lent any stuff.</h5>
                        <% } else { %>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Borrower</th>
                                    <th>Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < tbl3.length; i++) { %>
                                    <tr>
                                        <td>
                                            <a class="view-stuff" href="/stuff?sid=<%= tbl3[i].sid %>">
                                                <%= tbl3[i].stuffname %>
                                        </td>
                                        <td>
                                            <a class="view-profile" href="/profile?user=<%= tbl3[i].name %>">
                                                <%= tbl3[i].name %>
                                        </td>
                                        <td>
                                            <form action="/comment">
                                                <input type="hidden" id="sid" value="<%= tbl3[0].sid %>" name="sid">
                                                <button type="submit" class="btn btn-secondary" value="View All Comments" />View Comments</button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
                <div class="card-footer small text-muted">Stuff Sharing</div>
            </div>
        </div>
    </div>
</div>
<%- include bottomscript.ejs %>
</body>
</html>
